<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="Logo">
        </a>
        <span class="navbar-burger" id="navbarBurger">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>

    <div class="navbar-menu" id="navbarMenu">
        <div class="navbar-end">
            <a class="navbar-item" href="{{ path('app_hall_of_fame') }}">Hall of Fame</a>
            <a class="navbar-item" href="{{ path('app_create_quiz') }}">Quiz</a>
            <a class="navbar-item" href="{{ path('app_about') }}">À propos</a>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const navbarBurger = document.getElementById('navbarBurger');
        const navbarMenu = document.getElementById('navbarMenu');

        navbarBurger.addEventListener('click', () => {
            navbarBurger.classList.toggle('is-active');
            navbarMenu.classList.toggle('is-active');
        });
    });
</script>
