<section class="newsletter-section mt-5">
	<img src="{{ asset('/images/shapes/triangle-pink.svg') }}" alt="illustration forme triangle" class="shape shape-triangle-pink">
	<img src="{{ asset('/images/shapes/triangle-purple.svg') }}" alt="illustration forme triangle" class="shape shape-triangle-purple">
	<img src="{{ asset('/images/shapes/square-yellow.svg') }}" alt="illustration forme carré" class="shape shape-square-yellow">
	<img src="{{ asset('/images/shapes/circle-purple.svg') }}" alt="illustration forme cercle" class="shape shape-circle-purple">
	<div class="row newsletter-content">
		<div class="col-12 col-lg-4 d-flex justify-content-center align-items-end pt-5 order-lg-0 order-3">
			<img src="{{ asset('/images/mascot-2.svg')}}" height="160" width="180" class="mascot-illustration" alt="illustration de la mascotte">
		</div>
		<div class="col-12 col-lg-4 d-flex flex-column justify-content-center align-items-center align-items-lg-start my-4 my-md-5 my-lg-0 ps-0 ps-lg-5">
			<h2 class="text-uppercase">Restez informé sur nos actualités</h2>
			<p>Promis, pas de spam !</p>
		</div>
		<div class="col-12 col-lg-4 d-flex justify-content-center align-items-center">
			<form action="" class="newsletter-form">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Votre email" aria-label="Votre email" aria-describedby="button-subscribe">
					<button class="btn btn-outline-primary" type="button" id="button-subscribe">Go les actus !</button>
				</div>
			</form>
		</div>
	</div>
</section>
